.row{
    display:flex;
    justify-content:space-evenly ;
}
.row1{
    display: flex;
    justify-content: space-evenly;
}
.row2{
    display: flex;
    justify-content: space-evenly;
}
.row3{
    display: flex;
    justify-content: space-evenly;
}
.row3{
    display: flex;
    justify-content: space-evenly;
}